body {
  max-height: 33.3vh;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  animation: myfirst 20s infinite;
}

@keyframes myfirst
{
  0%      {background:#2A80BA;}
  25%     {background:#F9BE14;}
  75%     {background:#5CE5B4;}
  100%    {background:#EA705B;}
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px -2px white;
}

header * {
  display: inline;
  margin: 0 auto;
}

/* End of Header */

/* Images */
img { 
  filter: invert(298%) sepia(152%) saturate(40%) hue-rotate(300deg) brightness(94%) contrast(245%);
} 
/* End of Images */

/* Container */
#container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pomodoro {
  border: 2px solid white;
  width: 100%;
  margin-bottom: 25vh;
}

.elements {
  border: 2px solid black;
  flex-grow: 1;
  flex-wrap: wrap;
}
.elements span{
  margin: 10px;
}

/* End of Container */

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 5px;
}

footer li, a{
  padding: 1vh;
  margin: 0 auto;
  display: inline-grid;
}

/* End of Footer */